.WRAPPER {
    width: 90%;
    margin: auto;
}

body {
    color: #333333;
    font-family: sans-serif
}

.cluster {
    display: grid;
    /*        border: 1px solid red;*/
}

.cluster > .cell {
    display: grid;
    /*        border: 1px solid green;*/
    -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    grid-template-columns: 200px 1fr 100px 100px;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    align-items: center;
}

.progress {
    position: relative;
    text-shadow: 0 0 2px white;
    text-align: center;
    align-content: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.progress > div {
    position: absolute;
    z-index: -1;
    height: 20px;
    border-radius: 0 8px 8px 8px;
    background: -webkit-linear-gradient(left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: -o-linear-gradient(left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.img {
    height: 100px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #DDD;
}

