:root {
    --txt-color: #343434;

    --scrollbar-width: 8px;
    --scrollbar-trumb-background-color: rgba(0, 0, 0, .2);
    --scrollbar-trumb-background-color-hover: rgba(0, 0, 0, .3);

    --shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

/* ScrollBar */
::-webkit-scrollbar {
    width: var(--scrollbar-width)
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--scrollbar-trumb-background-color)
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-trumb-background-color-hover)
}

* {
    color: var(--txt-color);
    font-family: sans-serif;
}

.WRAPPER {
    width: 60%;
    margin: auto;
}

.errors div {
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    /*    border: 1px solid red*/
    padding: 2px 18px;
    margin: 10px 0;
}

.errors img {
    width: 100%
}

/* Отступы */

table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
    text-align: center;
	border: 1px solid #dddddd;
	padding: 5px;
}

.programs {
    display: flex;
    grid-gap: 20px;
    text-align: center;
}

.programs a {
    width: 100px;
    display: block;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 8px;
    border-radius: 8px;
    &:hover {
        background-color: #EEE;
    }
}

.programs a img {
    height: 60px;
}

@media (orientation: portrait) {
    .WRAPPER {
        width: 90%;
    }
}
