.poster {
    width: 400px;
}

.programs {
    width: 100%;
    display: flex;
    grid-gap: 20px;
    text-align: center;
}

.duble {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (orientation: portrait) {
    .poster {
        width: 100%
    }

    .programs {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        text-align: center;
    }
}
