:root {
    --txt-color: #343434;

    --scrollbar-width: 8px;
    --scrollbar-trumb-background-color: rgba(0, 0, 0, .2);
    --scrollbar-trumb-background-color-hover: rgba(0, 0, 0, .3);

    --shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    --shadow-hover: 0px 2px 28px 0px rgba(34, 60, 80, 0.2);
}

/* ScrollBar */
::-webkit-scrollbar {width: var(--scrollbar-width)}
::-webkit-scrollbar-thumb:hover {background-color: var(--scrollbar-trumb-background-color-hover)}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--scrollbar-trumb-background-color)
}

* {box-sizing: border-box}

.no-select {user-select: none}

.shadow {
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    &:hover {
        -webkit-box-shadow: var(--shadow-hover);
        -moz-box-shadow: var(--shadow-hover);
        box-shadow: var(--shadow-hover);
    }
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    width: 60%;
    margin: auto;
}

.poster {
    width: 100%;
    padding: 30px;
    text-align: center;
}

.poster img {
    width: 700px;
}

.links {
    display: flex;
    grid-gap: 1rem;
    margin: 1rem 0;
}

.links a img {
    height: 20px;
}



.preview {
    height: 300px;
    border: 1px solid red
}

.programs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
}

.programs a {
    
}

.programs a,
.button {
    display: block;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 8px;
    border-radius: 8px;

    &:hover {
        background-color: #EEE;
    }
}

.programs a img {
    height: 60px;
}




.blockShadow {
    border-radius: 10px;
    padding: 1em;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

/* ссылки по шапкой страницы */
.link {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin: 10px 0;
}

.link div {
    white-space: nowrap;
    padding: 8px 10px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 28px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 28px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 28px 0px rgba(34, 60, 80, 0.2);
}


@media (orientation: portrait) {
    .wrapper {
        width: 100%;
        padding: 1rem;
    }

    .poster img {
        width: 60%;
    }
    
    .programs {
        grid-template-columns: 1fr 1fr;
    }
}
