.cluster {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid red;
}

.cell {
    text-align: center;
    border: 1px solid green;
}

.cell .img {
    width: 100%;
    height: 200px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}