<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подготовка макета к печати</title>
    <link rel="stylesheet" href="../../../../style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="WRAPPER">
        <header>
            <div class="wrapper"></div>
        </header>
        <main>
            <div class="wrapper">
                <h2>Подготовка макета</h2>
                <div class="manual">
                    <div>
                        <h3>Удаление лишних элементов</h3>
                        <video src="video/1.mp4" controls>
                            <track kind="subtitles" src="subtitles/1.wtt" srclang="ru" default label="Русский">
                        </video>
                        <p style="color:orangered">Не сохранять измененный макет на сервер!</p>
                    </div>

                    <div>
                        <h3>Проверка заливки</h3>
                        <video src="video/2.mp4" controls>
                            <track kind="subtitles" src="subtitles/2.wtt" srclang="ru" default label="Русский">
                        </video>
                        <p style="color:orangered">Попросить дизайнера исправить макет, если есть ошибки в нём. В данном случае непрозрачные отверстия в буквах</p>
                    </div>

                    <div>
                        <h3>Экспорт изображения в PDF файл</h3>
                        <video src="video/3.mp4" controls>
                            <track kind="subtitles" src="subtitles/3.wtt" srclang="ru" default label="Русский">
                        </video>
                    </div>

                    <div>
                        <h3>Создание подложки в PhotoShop</h3>
                        <video src="video/ps.mp4" controls>
                            <track kind="subtitles" src="subtitles/4.wtt" srclang="ru" default label="Русский">
                        </video>
                        <ol>
                            <li>Выделение объекта CTRL + LBM</li>
                            <li>Сжатие выделения 1-2 px (или провести каллибровку голов)</li>
                            <li>Создание "Новый плашечный канал..."</li>
                            <li>Сохранение в PDF файл</li>
                        </ol>
                    </div>


                    <div>
                        <h3>RIP</h3>
                        <video src="video/pm.mp4" controls></video>
                        <ol>
                            <li>Импорт файла для "риповки"</li>
                            <li>Ожидание загрузки файла</li>
                            <li>Выбор пресета "720x720"</li>
                            <li>Выделение файла и запуск RIP</li>
                            <li>Экспорт файла (расширение .prt)</li>
                        </ol>
                    </div>

                    <div>
                        <h3>Запуск печати в PrintExp</h3>
                        <video src="video/pe.mp4" controls></video>
                        <ol>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="wrapper"></div>
        </footer>
    </div>
</body></html>