#cluster {
    width: 100%;
    display: flex;
    grid-gap: 14px;
}

.cell {
    text-align: center;
    padding: 1em;
    width: 270px;
}

.cell .img {
    width: 100%;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}